#ScoreTo {
    border-style: solid;
    border-color: black;
    width: 60%;
    text-align: center;
    border-radius: 15px;
    background-color:black;
    margin-left: 1%;
    margin-top: 1%;
}

#chiffre {
    color: red;
    font-size: 35px;
    font-weight: bold;
}

#yourScore {
    color: grey;
}

@media screen and (max-width: 768px) {
    #ScoreTo {
        width: 97%;
    }
    #chiffre {
        font-size: 26px;
    }
}