.barre {
    position: relative;
    border:3px;
    border-style: solid;
    border-color:black;
    width:70%;
    height:30px;
    display: inline-flex;
    border-radius: 10px;
    margin-left: 1%;

}

.jauge {
    border-radius: 7px;
}
@media screen and (max-width: 768px) {
    .barre {
        width: 97%;
    }
}