.eggImage {
    width: 23vh;
    height: 20vh;
    margin-top: -20vh;
    position: relative;
    cursor:url("./assets/img/viseur.png"), pointer;
}
.eggImage img {
    width: 5vh;
    margin: 13.7vh 0 0 10vh;
    z-index: 0;
}
