*
{
	outline: 0;
	margin: 0;
    padding: 0;
    outline: 0;
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -o-user-select: none; 
    user-select: none;
    cursor:url("./assets/img/viseur2.png"), pointer;
}


body{
    width: 100vw;
    height: 100%;
    background: fixed, url("./assets/img/background.png") no-repeat fixed 50%;
    background-position: bottom;
    background-size: 100%, cover;
	color: black;
    font-family: 'Khand', sans-serif;
    overflow: hidden;
}

.babyRow {
    margin-top: 1%;
}

.bebe1{
    animation: walk 8s linear infinite;
}

.bebe2{
    animation: walk 7s linear infinite;
}

.bebe3{
    animation: walk 6s linear infinite;
}

.bebe1 img, .bebe2 img, .bebe3 img {
    width: 11em;
}

@keyframes walk
{
    0% 	{ animation-timing-function: linear; transform: translateX(110vw); }
    100% { animation-timing-function: linear; transform: translateX(-35vw); }
}

.bebel1{
    animation: walk2 7s linear infinite;
    position: absolute;
    left: 0;
}
.bebel2{
    animation: walk2 8s linear infinite;
    position: absolute;
    left: 0;
}
.bebel3{
    animation: walk2 6s linear infinite;
    position: absolute;
    left: 0;
}
.bebel1 img, .bebel2 img, .bebel3 img{
    transform: scaleX(-1);
    width: 11em;
}

@keyframes walk2
{
    0% { animation-timing-function: linear; transform: translateX(-10vw); }
    100% { animation-timing-function: linear; transform: translateX(110vw); }
}

.barreScore{
    display: flex;
    flex-direction: column;
    margin-top: 1.5%;
    width: 100%;
}
.char{
    margin-top: 0.5%;
    width: 17.5vh;
    height: 17.5vh;
    border-radius: 50%;
    border: solid 3px black;
}

#timerContainer {
    display: flex;
    flex-direction: column;
    width: 60%;
}

#timereteggs {
    display:flex;
    justify-content: space-around;
}

#scoreC {
    display: flex;
    margin-left: 2%;
}


/*.bebe, .bebe2, .bebe3, .bebe4{
    cursor:url("https://image.noelshack.com/fichiers/2019/16/5/1555667946-oeuf.png"), pointer;
}

.bebe:active, .bebe2:active, .bebe3:active, .bebe4:active
{
    cursor:url("https://image.noelshack.com/fichiers/2019/16/5/1555668236-oeuf2.png"), pointer;
}
*/

.add1, .add2
{
    position: absolute;
    margin-top: -10vh;
    transition: margin 0.1s linear;
    font-size: 3vh;
    font-weight: bold;
}
.add1
{
    margin-left: 1vh;
}
.add2
{
    margin-left: 14vh;
}

.eggImagel:active > .add1
{
    margin-top: -30vh;
}

.eggImager:active > .add2
{
    margin-top: -30vh;
}

.nemesis{
    margin-left: 4%;
    width: 8%;
    cursor:url("./assets/img/viseur.png"), pointer;
    height: 20vh;
}
.nemesis:hover{
    opacity: 0.9;
}
.nemesis img{
    width : 100%;
}
.noNemesis {
    height: 20vh;
}

@media screen and (max-width: 768px) {
  .bebe1 img, .bebe2 img, .bebe3 img, .bebel1 img, .bebel2 img, .bebel3 img {
    width: 7em;
  }
  .bebe1{
    animation: walk 3s linear infinite;
}

.bebe2{
    animation: walk 4s linear infinite;
}

.bebe3{
    animation: walk 5s linear infinite;
}

.bebel1{
    animation: walk2 3s linear infinite;
    position: absolute;
    left: 0;
}
.bebel2{
    animation: walk2 4s linear infinite;
    position: absolute;
    left: 0;
}
.bebel3{
    animation: walk2 5s linear infinite;
    position: absolute;
    left: 0;
}

  .babyRow {
    margin-top: 0;
}
.nemesis{
    width: 26%;
    cursor:url("./assets/img/viseur.png"), pointer;
}
#timereteggs {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#timerContainer {
    width: 100%;
}
}